# comma-seperated list of usernames, or "*" for public access
LASTFM_ALLOWED_USERS=""

# lastfm api key
LASTFM_API_KEY=""

# see src.lib.themes for full list
DEFAULT_THEME="dark"

# whether or not the use the no-cache header when
# returning generated images.
USE_NO_CACHE_HEADER = "true"